<div class="row">
  <div class="col">
    <div class="card card-body blur shadow-blur overflow-hidden">
      <div class="row gx-4">
        <div class="col-auto my-auto">
          <div class="h-100">
            <h5 class="mb-1">
              <%= @account.account_name %>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>