<div class="alert alert-danger text-white" role="alert">
  <strong>Oops!</strong> We got some field error(s):

  <ul>
    <% errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
</div>