<div class="alert alert-danger text-white" role="alert">
  <strong>Errors!</strong> We got some errors:

  <ul>
    <% errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
</div>