<tr class="table-content-tr text-xs" id="<%= dom_id(account_team_user) %>">
  <td class="ps-1" style="width: 30%"><%= account_team_user.user.full_name %></td>
  <td class="ps-1" style="width: 30%"><%= account_team_user.start_date %></td>
  <td class="ps-1" style="width: 30%"><%= account_team_user.end_date %></td>

  <td class="ps-1 pt-4" style="width: 10%">
    <%#= render Shared::Buttons::DropdownComponent.new(
      options: AccountTeamDecorator.table_dropdown_options(@account.id, account_team.id)
    ) %>
  </td>
</tr>